<div class="container mt-5">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-md-3">
        <div class="card hidden-card" style="background-image: url('../../../assets/images/intro/12099fa1-9af1-4907-bd03-e161cb720946.jfif');">
          <div class="hover-text">
            Hover Me
          </div>
          <div class="card-body">
            <h3 class="card-title">B6412098</h3>
            <h5>ภชร พวงสีเคน</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
  
      <!-- Column 2 -->
      <div class="col-md-3">
        <div class="card hidden-card" style="background-image: url('../../../assets/images/intro/58b8f59f-8dd9-4b45-b18e-71746f1797fd.jfif');">
          <div class="hover-text">
            Hover Me
          </div>
          <div class="card-body">
            <h3 class="card-title">B6406325</h3>
            <h5>ปริวัตร ศรีทร</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
  
      <!-- Column 3 -->
      <div class="col-md-3">
        <div class="card hidden-card" style="background-image: url('../../../assets/images/intro/9047ccd1-eafd-493c-b51c-c6034b0318fc.jfif');">
          <div class="hover-text">
            Hover Me
          </div>
          <div class="card-body">
            <h3 class="card-title">B6405977</h3>
            <h5>ชินพรรธน์ ทัศนะลือไชย</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
  
      <!-- Column 4 -->
      <div class="col-md-3">
        <div class="card hidden-card" style="background-image: url('../../../assets/images/intro/Untitled-1.png');">
          <div class="hover-text">
            Hover Me
          </div>
          <div class="card-body">
            <h3 class="card-title">B6405656</h3>
            <h5>ปุณยวัจน์ ธารีประทีป</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  