.content {
    width: 84%;
    padding: 20px;
}

.webbg{
    position: relative;
    display: flex;
    width: 100%;
    background-color: #F6F7FC;
    min-height: 100vh;
    height: fit-content;

    
}

@media screen and (max-width:600px) {
    .webbg{
        display: block;
        height: 12vw;
        min-width: 376px;
    }
    .content {
        width: 100%;

    }
}