<!-- Navbar ก่อน login -->
<app-navbar *ngIf="!isLoggedIn && !isLoginPage && !isRegisterPage"></app-navbar>

<!-- Navbar หลัง login -->
<app-navbar-after-login *ngIf="isLoggedIn && !isLoginPage && !isRegisterPage"></app-navbar-after-login>

<div class="webbg" *ngIf="!isLoginPage && !isRegisterPage">
    <app-sidebar></app-sidebar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- For login page -->
<router-outlet *ngIf="isLoginPage"></router-outlet>

<!-- For register page -->
<router-outlet *ngIf="isRegisterPage"></router-outlet>
