.layout-edit {
    background-color: white;
    border-radius: 20px;
    border-color: #ececeb;
    border-width: 2px;
    border-style: solid;
    -webkit-user-select: none;          
    -ms-user-select: none;                
    user-select: none; 
}

.layout-edit-text {
    padding-left: 20px;
    padding-top: 10px;
}

.edit-text {
    margin-top: 1vw;
    font-size: 2rem;
    font-weight: bold;
}

.button-edit {
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #FF6500;
    color: white;
    border-width: 2px;
    border-style: solid;
    transition: transform 0.3s ease-in-out;
}

.button-edit:hover {
    transform: scale(1.1);
}

.layout-data {
    padding: 20px;
    
}

.public-data, .private-data {
    background-color: white;
    border-radius: 20px;
    border: 2px solid #f0f0f0;
}

.form-control {
    border-radius: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5vw;
}

.image-input {
    margin-top: 20px;
}

.form-control-file {
    border-radius: 10px;
    padding: 10px;
}

.layout-picture {
    width: 100%;
    display: flex;
    margin-bottom: 2vw;
}

img {
    transition: transform 0.3s ease-in-out;
}
  
img:hover {
    transform: scale(1.1);
}
.mt-1{
    margin-bottom: 4vw;
}

.psw-form{
    margin-bottom: 2vw;
}

.col-md-6{
    margin-top: 2vw;
}
