@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/THSarabun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

.layout-question {

    display: flex;
    flex-direction: column;
  }
  
  .small-card {
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .cardQ{
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
    align-content: center;
    display: block;
  }
  
  .btn-group .btn {
    background-color: #f5f5f5;
    color: #333;
    border-radius: 15px;
    margin-right: 5px;
    padding: 5px 15px;
  }
  
  .btn-group .btn:hover {
    background-color: #e2e2e2;
  }
  
  .btn-orange {
    background-color: #ff6700;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(255, 103, 0, 0.4);
  }
  
.btn-orange:hover {
    background-color: #e65c00;
}
  
  
.big-card {
    width: 100%; /* ให้ความกว้างของการ์ดเต็มหน้าจอ */
    margin: 0;   /* ป้องกัน margin รอบๆ การ์ด */
    padding: 20px; /* เพิ่ม padding ภายในการ์ดให้เหมาะสม */
    box-sizing: border-box; /* เพื่อให้ padding และ border ถูกรวมเข้าไปใน width */
}

  
.container-qmain{
  height: fit-content;
  z-index: 200;
  font-family: 'MyCustomFont';
  font-size: 24px;
}

.topic-link {

  text-decoration: none; /* ลบเส้นขีดใต้ลิงก์ */
  color: #ff6500;font-family: MyCustomFont; 
  font-size: 3.2rem;
  line-height: 0.01;
  
}

.topic-link:hover {
  text-decoration: underline; /* ใส่เส้นขีดใต้เมื่อ hover */
}

.list-group-item {
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อเลื่อนเมาส์ */
  padding: 10px; /* เพิ่ม padding ให้เหมาะสม */
  transition: background-color 0.3s; /* เพิ่มการเปลี่ยนแปลงสีเมื่อ hover */
}

.list-group-item:hover {
  background-color: #f0f0f0; /* เปลี่ยนสีพื้นหลังเมื่อ hover */
}

@media screen and (max-width: 600px){
  .topic-link {
    font-size: 2rem;
  }
}
