<div class="container-qmain">
  <div class="layout-question d-flex flex-column">
    <!-- Filter Section -->
    <div class="card small-card mb-3" style="border-radius: 10px">
      <div class="card" style="border-radius: 10px">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="cardQ">
              <h5 style="font-family: MyCustomFont; font-size: 48;">คำถามทั้งหมด</h5>
            </div>
            <!-- Filter Button -->
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCard" aria-expanded="false"
              aria-controls="collapseCard" style="color: #ff6500; margin-left: 5px">
              <i class="fa fa-filter" style="font-size: 20px"></i>
            </button>
          </div>
          <button routerLink="/questions/main/create" class="btn btn-orange" style="margin-right: 10px;font-family: MyCustomFont; font-size: 48;">Ask question</button>
          
        </div>

        <div id="collapseCard" class="collapse">
          <div class="card-body">
            <!-- Filter Options -->
            <ul class="list-group">
              <li class="list-group-item" (click)="resetFilter()">
                ทั้งหมด
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาวิทยาศาสตร์')">
                สำนักวิชาวิทยาศาสตร์
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาเทคโนโลยีสังคม')">
                สำนักวิชาเทคโนโลยีสังคม
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาเทคโนโลยีการเกษตร')">
                สำนักวิชาเทคโนโลยีการเกษตร
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาวิศวกรรมศาสตร์')">
                สำนักวิชาวิศวกรรมศาสตร์
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาแพทยศาสตร์')">
                สำนักวิชาแพทยศาสตร์
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาพยาบาลศาสตร์')">
                สำนักวิชาพยาบาลศาสตร์
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาทันตแพทยศาสตร์')">
                สำนักวิชาทันตแพทยศาสตร์
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาสาธารณสุขศาสตร์')">
                สำนักวิชาสาธารณสุขศาสตร์
              </li>
              <li class="list-group-item" (click)="onFilter('สำนักวิชาศาสตร์และศิลป์ดิจิทัล')">
                สำนักวิชาศาสตร์และศิลป์ดิจิทัล
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Display Questions -->
    <div *ngIf="filteredQuestions.length > 0">
      <div *ngFor="let question of filteredQuestions" class="card big-card mb-3" style="border-radius: 10px">
        <div class="card-body" style="border-radius: 10px">
          <h1>
            <a [routerLink]="['/questions', question._id]" class="topic-link" >{{ question.title }}</a>
          </h1>
          <p>{{ question.body | slice : 0 : 200 }}{{ question.body.length > 200 ? "..." : "" }}</p>
        </div>
      </div>
    </div>

    <!-- Show this if no filtered questions are found -->
    <div *ngIf="filteredQuestions.length === 0">
      <p>ไม่มีคำถามจากสำนักนี้.</p>
    </div>
  </div>
</div>
