.myQuestionsBody {
    min-height: 97vh;
    position: relative;
}

.myQuestionInBody {
    display: flex;
}

.noneSelectQuestion1 {
    font-size: 0.9vw;
    width: 30px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noneSelectQuestion2 {
    align-content: center;
    font-size: 1.4vw;
    transition: 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 2vw;
    white-space: nowrap;    
    
}
.controlTextTitle{
    display: block;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20vw;
    white-space: nowrap; 
    height: 3vw;  
    margin-top: 1vw;
    align-content: center;
}

.noneSelectQuestion3 {
    color: rgb(56, 110, 190);
    align-content: center;
    font-size: 1.2vw;
    transition: 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noneSelectQuestion5 {
    font-size: 1.3vw;
    color: rgb(150, 150, 150);
    align-content: center;
    transition: 0.2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa-edit {
    background-color: rgb(255, 198, 40); color: #333333; border: none; margin: 5px; padding: 3px; width: 1.5rem; height: 1.5rem; border-radius: 0.3rem;font-size: 1rem;transition: 0.1s;
}
.fa-trash {
    background-color: rgb(255, 94, 82); color: #333333; border: none; margin: 5px; padding: 3px; width: 1.5rem; height: 1.5rem; border-radius: 0.3rem;font-size: 1rem;transition: 0.1s;
}
.fa-edit:hover {
    background-color: #d89c1a;
    scale: 0.95;
}
.fa-trash:hover {
    scale: 0.95;
    background-color: #da4242;
}



.toppic {
    min-height: 97vh;
    width: 18vw;
    padding-left: 2%;
    margin-top: 2vw;
    display: flex;
    justify-content: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bordertoppic {
    color: #ffffff;
    background: #FF6500;
    filter: drop-shadow(5px 5px 5px #ffc4a8);
    box-shadow: inset 3px 5px 6px #ff9853;
    text-shadow: 0px 2px 3px rgba(173, 78, 0, 0.5);
    width: max-content;
    height: max-content;
    padding: 10px;
    font-size: 1.7vw;
    border-radius: 3vh;
    display: flex;
    align-content: center;
    position: fixed;
    padding-left: 25px;
    padding-right: 25px;
}

.borderQuestions {
    width: 80%;
    padding: 20px;
    text-shadow: 0px 2px 3px rgb(177, 202, 224);
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: block;
    border-radius: 1.5vh;
}




.checkBoxNone {
    margin-top: 1vi;
    margin-left: 20px;
    margin-right: 80%;
    width: 1vw;
    height: 1vw;
    border: solid 0.156vw #b9b9b9;
    border-radius: 0.5vh;
    transition: 0.3s;
    filter: drop-shadow(2px 2px 2px #a7b4c4a1);
}

.checkBoxNone:hover {
    border: solid 0.156vw #858585;
}

.checkBoxtext {
    width: 20vw;
    font-size: 1vw;
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.checkedBox {
    margin-top: 1vi;
    margin-left: 20px;
    margin-right: 80%;
    width: 1vw;
    height: 1vw;
    border: solid 0.156vw #ee680f;
    border-radius: 0.5vh;
    background-color: #FF6500;
    transition: 0.3s;
    filter: drop-shadow(2px 2px 2px #a7b4c4a1);
}

.checkedBox:hover {
    border: solid 0.156vw #ff9045;
    background-color: #ff9045;
    filter: drop-shadow(2px 2px 2px #aed3ffa1);
}

.filterDataBorder {
    position: fixed;
    margin-top: 7vw;
    width: 20vw;
    background-color: #ffffff;
    border-radius: 1.5vh;
    filter: drop-shadow(5px 5px 5px rgba(144, 154, 167, 0.363));
    height: fit-content;
    padding-bottom: 2%;
    transition: 0.1s;
}

@media screen and (max-width: 1100px), screen and (min-height: 1000px) {
    .filterDataBorder {
        width: 20vw;
    }
    .checkBoxNone {
        margin-top: 2vi;
        width: 2vw;
        height: 2.2vw;
    }
    .checkedBox {
        margin-top: 2vi;
        width: 2vw;
        height: 2.2vw;
    }
    .checkBoxtext {
        
        width: 15vw;
        font-size: 1.0vw;
    }
    .noneSelectQuestion1 {
        font-size: 1.2vw;
    }
    .noneSelectQuestion2 {
        font-size: 2.3vw;
    }
    .noneSelectQuestion3 {
        font-size: 1.5vw;
    }
    .noneSelectQuestion5 {
        font-size: 1.2vw;
    }
    .boxButtonCheckBox {
        height: 4vw;
    }
}

@media screen and (max-width: 600px), screen and (min-height: 1500px) {
    .toppic {
        min-height: 100px;
        width: 100%;
        position: relative;
        justify-content: center;
    }
    .bordertoppic {
        position: relative;
        min-width: 170px;
        width: 90vw;
        display: flex;
        justify-content: center;
        margin-top: 0.5vw;
        font-size: 5vw;
    }
    .filterDataBorder {
        position: relative;
        width: 90vw;
        margin-top: 2vw;
    }
    .myQuestionInBody {
        display: inline;
        justify-content: space-between;
    }
    .checkBoxtext {
        width: 90vw;
        font-size: 3vw;
        margin-left: 4vw;
    }
    .questions {
        width: 100%;
    }
    .borderQuestions {
        width: 100%;
    }
    .questionsTable {
        height: 10vh;
    }
    .noneSelectQuestion {
        font-size: 10vw;
    }
    
    .checkedBox {
        width: 3.8vw;
        height: 3.8vw;
    }
    .noneSelectQuestion1 {
        font-size: 2.5vw;
    }
    .noneSelectQuestion2 {
        font-size: 4vw;
    }
    .noneSelectQuestion3 {
        font-size: 3vw;
    }
    .noneSelectQuestion5 {
        font-size: 2.4vw;
    }
    .boxButtonCheckBox {
        height: 6vw;
    }
}
