<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="myQuestionsBody">
    <div class="myQuestionInBody">
        <div class="toppic">
            <div class="toppicCase">
                <div class="bordertoppic">คำถามของฉัน</div>
                <div class="filterDataBorder">
                    <div style="display: block;">
                        <div class="boxButtonCheckBox">
                            <button class="checkBoxNone" (click)="ngCheckMath()" (click)="ngCheckselectSubject()"
                                [ngClass]="{'checkedBox': statusMath,'checkBoxNone':!statusMath}">
                                <p class="checkBoxtext" style="top: -5px; position: relative;">Math</p>
                            </button>
                        </div>
                        <div class="boxButtonCheckBox">
                            <button class="checkBoxNone" (click)="ngCheckEnglish()" (click)="ngCheckselectSubject()"
                                [ngClass]="{'checkedBox': statusEnglish,'checkBoxNone':!statusEnglish}">
                                <p class="checkBoxtext" style="top: -5px; position: relative;">English</p>
                            </button>
                        </div>
                        <div class="boxButtonCheckBox">
                            <button class="checkBoxNone" (click)="ngCheckScience()" (click)="ngCheckselectSubject()"
                                [ngClass]="{'checkedBox': statusScience,'checkBoxNone':!statusScience}">
                                <p class="checkBoxtext" style="top: -5px; position: relative;">Science</p>
                            </button>
                        </div>
                        <div class="boxButtonCheckBox">
                            <button class="checkBoxNone" (click)="ngCheckHistory()" (click)="ngCheckselectSubject()"
                                [ngClass]="{'checkedBox': statusHistory,'checkBoxNone':!statusHistory}">
                                <p class="checkBoxtext" style="top: -5px; position: relative;">History</p>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        

        <div style="width: 15vw;"></div>
        <div class="borderQuestions">
            <table class="table">
                <tbody style="align-items: center; ">
                    <tr class="questionsTable" *ngFor="let question of questions">
                        <td class="noneSelectQuestion1" scope="row"></td>
                        <td></td>
                        <td class="noneSelectQuestion2">{{question.title}} </td>
                        <td class="noneSelectQuestion3">{{question.tags}}</td>
                        <td class="noneSelectQuestion4">
                            <p style="display: flex; justify-content: center;"></p>
                        </td>
                        <td class="noneSelectQuestion5">
                            <div class="editDeleteBTN">
                                <button (click)="editQuestion(question._id)" class="fa fa-edit" ></button>
                                <button (click)="deleteQuestion(question._id)" class="fa fa-trash" ></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

