@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/THSarabun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-detail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;      
    -ms-user-select: none;                
    user-select: none; 
}

.card-detail {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* .card-body h1 {
    font-size: 24px;
    color: #333;
}

.card-body p {
    font-size: 16px;
    color: #555;
} */

.btn-submit {
    background-color: #FF8A08;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #FF6500;
  }
  
  .btn-submit:focus {
    outline: none;
    background-color: #003f7f;
  }

  .modal-body{
    border-radius: 20px;
    height: 30vh;
  }

  .textTitle{
    margin-top: 1.6rem;
    font-family: 'MyCustomFont'; 
    font-size: 4rem;
    color: #ff8800;
    line-height: 1.1;
  }

  .dateQ{
    font-size: 1.8rem;
    color: #8a8a8a;
    
  }

  .bodyQ{
    font-size: 3rem;
    color: #000000;
    line-height: 0.9;
  }

  .text-userAsk{
    
    display: flex;
    color: #0080ff;
    font-size: 2rem;
    position: relative;
    margin-top: 5vh;
  }

  .noAnswer{
    color: #e66767;
    font-size: 1rem;
  }

  .allAnswer{
    font-family: 'MyCustomFont';font-size: 3rem;
  }

  .askQ{
    font-family: 'MyCustomFont';font-size: 3rem;
  }

  .boxAsk{
    display: flex;
  }

  .btn-submit{
  
    height: 1vh;
    margin-left: 10px; 
    display: table-cell; 
    max-width: 600px; 
    height: 100px; 
    border-radius: 20px ;
    font-size: 28px;
  }

  .boxAsk{
    display: flex;
    justify-content: right;
    align-items: center;
  }

  @media screen and (max-width:600px){
    .textTitle{
      margin-top: 1.6rem;
      font-family: 'MyCustomFont'; 
      font-size: 3rem;
      color: #ff8800;
      line-height: 1.1;
    }
  
    .dateQ{
      font-size: 1rem;
      color: #8a8a8a;
      
    }
  
    .bodyQ{
      font-size: 2rem;
      color: #000000;
      line-height: 0.9;
    }
  
    .text-userAsk{
      
      display: flex;
      color: #0080ff;
      font-size: 1.7rem;
      position: relative;
      margin-top: 5vh;
    }
  
    .noAnswer{
      color: #e66767;
      font-size: 0.7rem;
    }
  
    .allAnswer{
      font-family: 'MyCustomFont';font-size: 2rem;
    }
  
    .askQ{
      font-family: 'MyCustomFont';font-size: 2rem;
    }
    .boxAsk{
      display: block;
      justify-content: right;
    }
    .btn-submit{
      margin-top: 3vh;
      height: 10vh;
    }
  }
