.container-detail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.card-detail {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body h1 {
    font-size: 24px;
    color: #333;
}

.card-body p {
    font-size: 16px;
    color: #555;
}
