@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/THSarabun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-detail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.card-detail {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body h1 {
    font-size: 24px;
    color: #333;
}

.card-body p {
    font-size: 16px;
    color: #555;
}

.btn-submit {
    background-color: #FF8A08;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #FF6500;
  }
  
  .btn-submit:focus {
    outline: none;
    background-color: #003f7f;
  }

  .modal-body{
    border-radius: 20px;
    height: 30vh;
  }
