<div class="navbar-login">
    <div routerLink="" class="navbar-login-text">
        <p><span style="color: white;">Q&A</span><span style="color: orange;padding-left: 10px;">SUT</span></p>
    </div>

    <div class="search-container">
        <input type="text" name="search" placeholder="Search..." class="search-input">
        <a href="#" class="search-btn">
            <i class="fas fa-search"></i>
        </a>
    </div>

    <div *ngIf="username" class="text-navbar-after-login-container">
        <div class="profile-user-navbar" routerLink="user/look/{{userid}}">
            <img src={{userImage}} alt="User Image" class="user-avatar">
            <p class="username-text">{{ username }}</p>
        </div>
        <div class="spaceBetweenNavbar"></div>
        <button class="btn-logout" routerLink="login" (click)="onLogout()">ออกจากระบบ</button>
    </div>
</div>
<div style="height: 60px;width: 100%;">

</div>