<div class="comment-container card mt-3">
  <!-- Input Form for new comment -->
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-form mb-4">
    <div class="form-group">
      <textarea class="form-control" formControlName="commentText" placeholder="แสดงความคิดเห็น..." rows="3"></textarea>
      <small *ngIf="commentForm.controls['commentText'].invalid && commentForm.controls['commentText'].touched" class="form-text text-danger">
        การแสดงความคิดเห็นต้องมี 4 ตัวอักษรขึ้นไป
      </small>
    </div>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="commentForm.invalid">ยืนยัน</button>
  </form>

  <!-- Display list of comments -->
  <div class="comments-list">
    <div *ngFor="let comment of comments; let i = index" class="comment-display media mb-4">
      <img [src]="comment.picture" alt="User's picture" class="mr-3 rounded-circle user-pic" />
      <div class="media-body">
        <h5 class="mt-0">{{ comment.username }}</h5>
        <p class="comment-text">{{ comment.commentText }}</p>
      </div>
      <button (click)="openDeleteModal(comment._id, i)" class="btn btn-danger btn-sm ml-auto" *ngIf="comment.user_comment_id === logedUserId">ลบ</button>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">ยืนยันการลบ</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณต้องการที่จะลบความคิดเห็นใช่ไหม
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>
