<div class="container">
    <h2 style="font-family: MyCustomFont;">ผู้ใช้งานทั้งหมด</h2>
  
    <!-- Search box -->
    <div class="search-box">
      <input type="text" [(ngModel)]="searchQuery" placeholder="ค้นหาด้วยชื่อผู้ใช้" class="form-control">
    </div>
  
    <!-- Grid layout for users -->
    <div class="user-grid">
      <div class="user-card" *ngFor="let user of filteredUsers() let i = index">
        <img [src]="user.picture" alt="{{ user.username }}'s picture" class="user-picture">
        <div class="user-info">
          <h5><a href="user/{{user._id}}">{{ user.username }}</a></h5>
          <p style="font-size: smaller;">{{ user.email }}</p>
        </div>
      </div>
    </div>
  
    <p *ngIf="filteredUsers().length === 0">ไม่พบผู้ใช้งาน.</p>
  </div>
  