<div class="container-fluid layout-summary">
    <div class="title-summary">
        สรุป
        <button type="button" class="btn" (click)="ngShowMore()" [ngClass]="{'btn-danger': status, 'btn-primary': !status}">SHOWMORE</button>
    </div>
    <div class="qa-summary">
        <div class="question-summary p-3" [ngClass]="{'showmore': status}">
            <table class="table">
                <tbody>
                    <tr *ngFor="let item of questions">
                        <td>
                            <a href="#">{{item.title}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="answer-summary p-3" [ngClass]="{'showmore': status}">
            <table class="table">
                <tbody>
                    <tr *ngFor="let item of answer">
                        <td>
                            <a href="#">{{item.text}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="activity-layout">
        <div class="activity-summary p-3" [ngClass]="{'activity-more': status}">
            Activity
        </div>
    </div>
</div>
