<div class="container-fluid layout-summary">
    <div class="title-summary">
        สรุป
        <button type="button" class="btn" (click)="ngShowMore()" [ngClass]="{'btn-danger': status, 'btn-success': !status}">{{textmore}}</button>
    </div>
    <div class="qa-summary-title">
        <div class="px-4" style="font-size: 1.5rem;">คำถาม</div>
        <div class="px-4" style="font-size: 1.5rem;">คำตอบ</div>
    </div>
    <div class="qa-summary">
        <div class="question-summary p-3" [ngClass]="{'showmore': status}">
            <table class="table">
                <tbody>
                    <tr *ngFor="let item of questions">
                        <td>
                            <a href="#">{{item.title}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="answer-summary p-3" [ngClass]="{'showmore': status}">
            <table class="table">
                <tbody>
                    <tr *ngFor="let item of answer">
                        <td>
                            <a href="#">{{item.text}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="activity-layout">
        กิจกรรม
        <div class="activity-summary p-3" [ngClass]="{'activity-more': status}">
        </div>
    </div>
</div>
