/* Label styles for question and answer headers */
.summary-header {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FF6500;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #FF6500;
    margin-bottom: 10px;
}

/* Question and answer sections */
.question-summary, .answer-summary {
    background-color: white;
    width: 48%;
    height: 13vh;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}

/* Other existing styles */
.layout-summary {
    background-color: white;
    margin-top: 20px;
    display: grid;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    padding: 10px;
}

.title-summary {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.qa-summary {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1%;
    flex-wrap: wrap;
}

.activity-layout {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1%;
    flex-wrap: wrap;
}

.activity-summary {
    background-color: white;
    width: 97%;
    height: 11vh;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}

.showmore {
    background-color: white;
    width: 48%;
    height: 40vh;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}

.activity-more {
    background-color: white;
    width: 97%;
    height: 30vh;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .qa-summary {
        flex-direction: column;
        align-items: center;
    }

    .question-summary, .answer-summary {
        width: 100%;
        height: 14vh;
        margin-top: 5vw;
    }

    .showmore {
        background-color: white;
        width: 100%;
        height: 40vh;
        border-style: solid;
        border-radius: 20px;
        border-width: 2px;
        border-color: #FF6500;
        overflow: auto;
    }
}
