.layout-summary {
    background-color: white;
    margin-top: 20px;
    display: grid;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500
}

.title-summary {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.qa-summary-title {
    display: flex;
    justify-content: center;
}

.qa-summary {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.question-summary {
    background-color: white;
    height: 13vh;
    width: 48%;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}

.answer-summary {
    background-color: white;
    height: 13vh;
    width: 48%;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}

.activity-layout {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.activity-summary {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    width: 100%;
    height: 10vh;
}

.showmore {
    background-color: white;
    height: 38vh;
    width: 48%;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    overflow: auto;
}

.activity-more {
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #FF6500;
    width: 100%;
    height: 21.3vh;
}