<div class="container-fluid layout-title">
    <div class="profile-display">
        <img [src]="image" width="80vh" height="80vh" alt="Uploaded Image">
        <div>
            {{displayName }}
        </div>
        <div class="button-layout">
            <button class="btn button-to-my-questions" routerLink="/myQuestions" *ngIf="useridfromparant === tempuserid">คำถามของฉัน</button>
            <button class="btn button" routerLink="/profile/edit" *ngIf="useridfromparant === tempuserid">แก้ไขข้อมูล</button>
        </div>
    </div>
</div>