.layout-title {
    background-color: white;
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-color: #FF6500;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
}

.profile-display {
    margin-left: 5vh;
    gap: 10vh;
    display: flex;
    align-items: center;
}

.button-layout {
    margin-right: 5vh;

}

.button {
    background-color: white;
    border-width: 2px;
    border-color: #FF6500;
    color: #FF6500;
    margin: 5px;
}

.button:hover {
    background-color: #FF6500;
    border-width: 2px;
    color: white;
}

.button-to-my-questions{
    background-color: #ff7519;
    border-color: #ff7519;
    color: #ffffff;
    margin: 5px;
}
.button-to-my-questions:hover{
    background-color: #c94000;
    border-color: #c94000;
    color: #ffffff;
    
}

img {
    transition: transform 0.3s ease-in-out;
}
  
img:hover {
    transform: scale(1.3);
}