<div class="navbar-login">
  <div routerLink="" class="navbar-login-text">
    <p><span style="color: white;">Q&A</span><span style="color: orange;padding-left: 10px;">SUT</span></p>
  </div>
  <div class="search-container">
    <input type="text" name="search" placeholder="Search..." class="search-input">
    <a href="#" class="search-btn">
      <i class="fas fa-search"></i>
    </a>
  </div>
  <div class="button-container-navbar" style="display: flex;justify-content: space-between;">
    <button routerLink="login" class="button-65" >เข้าสู่ระบบ</button>
    <button routerLink="register" class="button-65">ลงทะเบียน</button>
  </div>
</div>
<div style="height: 60px;width: 100%;">

</div>