<nav class="navbar navbar-expand-lg navbar-light navbar-color">
  <div class="navbar-brand-container">
    <a class="navbar-brand" href="/">Q&A SUT</a>
  </div>
  <div class="searchbox">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
    </form>
  </div>

  <div class="button-container">
    <button class="btn button1" type="submit">
      สมัคร
    </button>
    <button class="btn button2" type="submit" routerLink="/profile/summary">
      เข้าสู่ระบบ
    </button>
  </div>
</nav>
