<div class="question-create-container">
  <h2 style="font-family: 'Sarabun'; margin-top: 20px;margin-bottom: 30px;">สร้างคำถามใหม่</h2>
  <form [formGroup]="createQuestionForm" (ngSubmit)="onSubmit()">
    <!-- หัวข้อคำถาม -->
    <div class="form-group" style="margin-bottom: 40px; margin-top: 50px;">
      <label for="title" style="color: #f56200;">หัวข้อคำถาม:</label>
      <input  id="title" formControlName="title" type="text" class="form-control" placeholder="ตั้งคำถามให้ชัดเจนและกระชับ" required>
      <div *ngIf="createQuestionForm.get('title')?.invalid && createQuestionForm.get('title')?.touched" class="error" style="margin-top: 10px;">
        หัวข้อคำถามต้องมีความยาวอย่างน้อย 10 ตัวอักษร
      </div>
    </div>

    <!-- คำอธิบายคำถาม (body) -->
    <div class="form-group" style="margin-bottom: 40px;">
      <label for="body" style="color: #f56200;">คำอธิบาย:</label>
      <textarea id="body" formControlName="body" rows="5" class="form-control" placeholder="อธิบายคำถามของคุณโดยละเอียด" required></textarea>
      <div *ngIf="createQuestionForm.get('body')?.invalid && createQuestionForm.get('body')?.touched" class="error"style="margin-top: 10px;">
        คำอธิบายต้องมีความยาวอย่างน้อย 30 ตัวอักษร
      </div>
    </div>

    <!-- Upload Image -->
    <div class="mb-3">
      <label for="image" class="form-label" style="color: #f56200;">เลือกรูปภาพ:</label>
      <input style="height: 50px;" class="form-control" type="file" id="image" (change)="onFileChange($event)">
    </div>

    <!-- แท็ก -->
    <div class="form-group" style="margin-bottom: 40px;">
      <label for="tags" style="color: #f56200;">แท็ก:</label>
      <select style="height: 50px;" id="tags" formControlName="tags" class="form-control" required>
        <option value="">เลือกแท็ก</option> <!-- Default option -->
        <option value="สำนักวิชาวิทยาศาสตร์">สำนักวิชาวิทยาศาสตร์</option>
        <option value="สำนักวิชาเทคโนโลยีสังคม">สำนักวิชาเทคโนโลยีสังคม</option>
        <option value="สำนักวิชาเทคโนโลยีการเกษตร">สำนักวิชาเทคโนโลยีการเกษตร</option>
        <option value="สำนักวิชาวิศวกรรมศาสตร์">สำนักวิชาวิศวกรรมศาสตร์</option>
        <option value="สำนักวิชาแพทยศาสตร์">สำนักวิชาแพทยศาสตร์</option>
        <option value="สำนักวิชาพยาบาลศาสตร์">สำนักวิชาพยาบาลศาสตร์</option>
        <option value="สำนักวิชาทันตแพทยศาสตร์">สำนักวิชาทันตแพทยศาสตร์</option>
        <option value="สำนักวิชาสาธารณสุขศาสตร์">สำนักวิชาสาธารณสุขศาสตร์</option>
        <option value="สำนักวิชาศาสตร์และศิลป์ดิจิทัล">สำนักวิชาศาสตร์และศิลป์ดิจิทัล</option>
        <option value="อื่นๆ">อื่นๆ</option>
      </select>
      <div *ngIf="createQuestionForm.get('tags')?.invalid && createQuestionForm.get('tags')?.touched" class="error"style="margin-top: 10px;">
        โปรดเลือกแท็กสำหรับคำถามของคุณ
      </div>
    </div>
    

    <!-- ปุ่มโพสต์ -->
    <button type="submit" class="btn btn-primary" [disabled]="createQuestionForm.invalid">โพสต์คำถาม</button>
  </form>
</div>
