.question-create-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Sarabun';
  }
  
  .form-group {
    margin-bottom: 7vh;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  


  .error {
    color: red;
    font-size: 0.9rem;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .mb-3{
    margin-bottom: 7vh !important;

  }

  
  