.bg-register-page {
  width: 100%;
  height: 93.3%;
  background-image: url('../../../assets/images/pngegg.png');
  background-size: cover; /* ทำให้ภาพครอบคลุมพื้นที่ทั้งหมด */
  background-position: center; /* จัดภาพให้อยู่กลาง */
  background-size: 50%; /* ทำให้ภาพมีขนาด 80% ของพื้นที่ที่กำหนด */
  display: flex;
  justify-content: center; /* จัดศูนย์กลางในแนวนอน */
  align-items: center; /* จัดศูนย์กลางในแนวตั้ง */
}

.register-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    font-family: 'Sarabun';
    background-color: #ffffff; /* สีพื้นหลังของฟอร์ม */
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: gray;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    background-color: #EFEFEF;
    box-sizing: border-box;
  }
  
  .register-button-container{
  
    text-align: center;
  }
  
  .btn-register {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    background-color: #FF8A08;
    border-radius: 20px;
    border: 0px;
    transition-duration: 0.1s;
    cursor: pointer; /* ทำให้เมาส์เปลี่ยนเป็น pointer เมื่อ hover บนปุ่ม */
  }
  
  .btn-register:disabled {
    background-color: #cccccc; /* สีปุ่มเมื่อปิดการใช้งาน */
    border: 0px;
    color: #666666; /* สีข้อความเมื่อปิดการใช้งาน */
    cursor: not-allowed; /* ทำให้เมาส์เปลี่ยนเป็นรูป not-allowed เมื่อ hover */
    box-shadow: none;
  }
  
  .btn-register:hover:disabled {
    background-color: #cccccc; /* สีปุ่มเมื่อปิดการใช้งาน */
    border: 0px;
    color: #666666; /* สีข้อความเมื่อปิดการใช้งาน */
    cursor: not-allowed; /* ทำให้เมาส์เปลี่ยนเป็นรูป not-allowed เมื่อ hover */
    box-shadow: none;
  }
  
  .btn-register:hover {
    background-color: #ffffff; /* Green */
    border: 2px solid #FF8A08;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  }
  
  .fa-exclamation-triangle {
    margin-right: 5px;
  }

  .text-danger {
    color: #FF0000; /* สีแดง */
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }