<div class="sidebar bg-white shadow-lg">
    <ul class="nav flex-column text-center">
      <li class="nav-item py-3">
        <a class="nav-link text-dark" href="#">หน้าหลัก</a>
      </li>
      <li class="nav-item py-3">
        <a class="nav-link text-dark" href="#">คำถาม</a>
      </li>
    </ul>
    <ul class="nav flex-column text-center mt-auto bottom-menulist">
      <li class="nav-item py-3">
        <a class="nav-link text-dark" href="#">อันดับ</a>
      </li>
      <li class="nav-item py-3 mb-5" style="margin-top: 50vh;">
        <a class="nav-link text-dark" href="#" style="font-size: medium;">เกี่ยวกับเรา</a>
      </li>
    </ul>
  </div>
  