<div class="sidebarContainer">
    <div class="boxAllButtonSidebar">
        <div class="boxButtonSidebar">
            <button routerLink="/" class="borderButtonSidebar">
                <p style="margin-top: 15px;">หน้าแรก</p>
            </button>
        </div>
        <div class="boxButtonSidebar">
            <button routerLink="/questions/main" class="borderButtonSidebar">
                <p style="margin-top: 15px;">คำถาม</p>
            </button>
        </div>
        <div class="boxButtonSidebar" routerLink="/allusers">
            <button class="borderButtonSidebar">
                <p class="myQuestSidebar" style="margin-top: 15px; " >ผู้ใช้งาน</p>
            </button>
        </div>
        <div class="boxButtonSidebar" routerLink="/aboutus">
            <button class="borderButtonSidebar">
                <p class="myQuestSidebar" style="margin-top: 15px; " >เกี่ยวกับเรา</p>
            </button>
        </div>
    </div>
</div>
<div class="sidebarContainerUseSpace"></div>

