.sidebarContainer{
    position: fixed;
    width: 13dvw;
    min-width: 150px; 
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 70;
    filter: drop-shadow(2px 2px 2px #a7b4c4a1);
    font-family: 'Sarabun';
}


.sidebarContainerUseSpace{
    position: relative;
    min-width: 150px; 
    width: 13dvw; 
    height: 100%;

}

.boxAllButtonSidebar{
    margin-top: 20px;
}

.boxButtonSidebar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: center;
}

.borderButtonSidebar{
    
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    color: #000000;
    border-radius: 0.1cm;
}

.borderButtonSidebar:hover{
    background-color: rgb(245, 217, 161);
    color: #000;
}

.myQuestSidebar{
    font-size: 2.3rem;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/assets/fonts/THSarabun.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 600px){
    .sidebarContainer{
        width: 100dvw; 
        position: fixed;
        height: 12vw;
        background-color: rgb(255, 255, 255);
        min-width: 376px;
        margin-bottom: 30px;

    }

    .sidebarContainerUseSpace{
        width: 100dvw; 
        position: relative;
        height: 12vw;
        min-width: 376px;
        margin-bottom: 30px;
    }
    .borderButtonSidebar{
    
        font-size: 1.1rem;
    
    }

    .boxAllButtonSidebar{
        margin-top: 5px;
        display: flex;
    }

    .myQuestSidebar{
        font-size: 1.1rem;
    }
    
}