.sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    width: 370px;
    height: 100vh; /* Full viewport height */
    padding-top: 20px;
    overflow-y: auto; /* Allows vertical scrolling */
}
  
.bottom-menulist {
    margin-top: auto; /* Push the bottom menu items to the bottom */
}
  
.nav-link{
    font-size: 2rem;
}

.nav-link:hover {
    background-color: #f26522;
}

.btn-link {
    width: 100%;
}
  