.navbar-login {
    display: flex;
    justify-content: flex-start; /* จัดเนื้อหาให้อยู่ทางซ้าย */
    align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #444444;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Downside shadow */
    padding-left: 30px; /* เพิ่มระยะห่างจากขอบซ้าย */
}

.navbar-login-text {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400px;
    font-size: 38px;
    text-align: left; /* ให้ข้อความชิดซ้าย */
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
    margin-top: 30px;
    transition: 0.1s;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.navbar-login-text:hover {
    scale: 1.01;
}

